<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Estudiantes nuevos</ion-card-title>
      </ion-card-header>
      <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque impedit dolor hic enim veritatis delectus soluta ducimus saepe non? Illum ullam nesciunt quae aliquam, veniam aperiam. Quia perspiciatis quam quod.</ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Ingresa al nuevo curso de Ingles</ion-card-title>
      </ion-card-header>
      <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque impedit dolor hic enim veritatis delectus soluta ducimus saepe non? Illum ullam nesciunt quae aliquam, veniam aperiam. Quia perspiciatis quam quod.</ion-card-content>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Noticia</ion-card-subtitle>
        <ion-card-title>Proxima entrega de notas</ion-card-title>
      </ion-card-header>
      <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque impedit dolor hic enim veritatis delectus soluta ducimus saepe non? Illum ullam nesciunt quae aliquam, veniam aperiam. Quia perspiciatis quam quod.</ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

