<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form>

    
      <ion-row>
        <ion-col style="text-align: -webkit-center;">
          <ion-avatar>
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item class="labels-profile">
          <ion-label color="medium">Nombre</ion-label>
          <ion-input placeholder="Nombre"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="labels-profile">
          <ion-label color="medium">Apellido</ion-label>
          <ion-input placeholder="Infante"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="labels-profile">
          <ion-label color="medium">Teléfono</ion-label>
          <ion-input placeholder="555 555 555 "></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="labels-profile">
          <ion-label color="medium">Email</ion-label>
          <ion-input placeholder="pedro@email.com"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-buttons>
          <ion-button color="secondary">Editar</ion-button>
          <ion-button (click)="saveInfoUser()" color="success">Guardar</ion-button>
        </ion-buttons>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
