<ion-content [fullscreen]='true'>
  <!-- <form (ngSubmit)='setTypeUx()'> -->
    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-card routerLink='/register/acudiente'>
            <lottie-player
              autoplay
              loop
              speed='0.5'
              src='https://assets10.lottiefiles.com/private_files/lf30_m61uftnn.json'
              style='width: 180px; margin: 10px;'>
            </lottie-player>
            <ion-text class='card-text'>Acudiente</ion-text>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card routerLink='/register/docente'>
            <lottie-player
              autoplay
              loop
              speed='0.5'
              src='https://assets3.lottiefiles.com/packages/lf20_7htpyk2w.json'
              style='width: 180px; margin: 10px;'>
            </lottie-player>
            <ion-text class='card-text'>Docente</ion-text>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card routerLink='/register/estudiante'>
            <lottie-player
              autoplay
              loop
              speed='0.5'
              src='https://assets10.lottiefiles.com/packages/lf20_ketv1eqz.json'
              style='width: 180px; margin: 10px;'>
            </lottie-player>
            <ion-text class='card-text'>Estudiante</ion-text>
          </ion-card>
        </ion-col>
  
        <ion-col>
          <ion-card routerLink='/register/empleado'>
            <lottie-player
              autoplay
              loop
              speed='0.5'
              src='https://assets6.lottiefiles.com/packages/lf20_lyp6fz8l.json'
              style='width: 180px; margin: 10px;'>
            </lottie-player>
            <ion-text class='card-text'>Empleado</ion-text>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    
  <!-- </form> -->
</ion-content>
