ion-content {
    padding: 30px;
    text-align: -webkit-center;
    text-align-last: center;
}
ion-card {
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
}
ion-card-subtitle {
    padding-top: 20px;
}
ion-button {
    margin-top: 40px;
}

.label-recover {
    margin-top: 15px;
    display: table;
    transform-origin: center;
}
.arrow-back {
  font-size: 30px;
  margin-left: -40px;
  float: left;
  margin-top: -60px;
}


