<ion-content class="ion-padding">

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let img of banners">
      <img [src]=img class="d-block w-100">
    </ion-slide>
  </ion-slides>

  <ion-header class="ion-no-border">
    <ion-toolbar color="primary" class="toolbar-login-title">
      <ion-title>Ingresar Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" novalidate (ngSubmit)="login()">
    <ion-list>
      <br>
      <br>
      <ion-item style="width: 60%;">
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input placeholder="nombre-usuario@mail.com" formControlName="email"></ion-input>
      </ion-item>

      <ion-item style="width: 60%;">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" placeholder="**********" formControlName="password"></ion-input>
      </ion-item>
      <p routerLink="/recoverpass" class="recoverypass-title">Olvide mi contraseña</p>
      <br>
      <br>
      <!-- <ion-item-divider></ion-item-divider> -->

      <ion-button type="submit" >Iniciar Sesión</ion-button>
      <ion-button routerLink="/register/acudiente" type="button">Registrarse</ion-button>
    </ion-list>

  </form>

</ion-content>
