.toolbar-login-title {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.recoverypass-title {
    color: gray;
    font-weight: bold;
    font-size: 80%;
    text-align-last: center;
}

