ion-list {
    margin-top: -5px;
    text-align: -webkit-center;
    padding: 15px;
    padding-bottom: 25px;
}

.toolbar-register-title {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
