<ion-content class="ion-padding">

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let img of banners">
      <img [src]=img class="d-block w-100">
    </ion-slide>
  </ion-slides>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Registrar usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form" novalidate (ngSubmit)="register()">
    <ion-list style="padding: 15px;">
      <br>
      <br>
      <!-- <ion-item style="width: 60%;">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input placeholder="Juan Perez..." formControlName="name"></ion-input>
      </ion-item> -->

      <ion-item style="width: 60%;">
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input placeholder="nombre-usuario@mail.com" formControlName="email"></ion-input>
      </ion-item>

      <ion-item style="width: 60%;">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" placeholder="**********" formControlName="password"></ion-input>
      </ion-item>

      <!-- <ion-item style="width: 60%;">
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input type="password" placeholder="**********" formControlName="confirmPassword"></ion-input>
      </ion-item> -->
      <br>
      <br>
      <!-- <ion-item-divider></ion-item-divider> -->
      <ion-button type="submit" >Registrarse</ion-button>
      <ion-button routerLink="/login" type="button">Ya estoy registrado</ion-button>
    </ion-list>

  </form>

</ion-content>
