<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let img of banners">
      <img [src]=img class="d-block w-100">
    </ion-slide>
  </ion-slides>

  
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="width: auto;  padding: 10px;">
          <ion-card-title>21</ion-card-title>
          <ion-card-subtitle style="text-align: right;">Profesores</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="width: auto;  padding: 10px;">
          <ion-card-title>132</ion-card-title>
          <ion-card-subtitle style="text-align: right;">Acudientes</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="width: auto; padding: 10px;">
          <ion-card-title>148</ion-card-title>
          <ion-card-subtitle style="text-align: right;">Estudiantes</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="width: auto; padding: 10px;">
          <ion-card-title>38</ion-card-title>
          <ion-card-subtitle style="text-align: right;">Asignaturas</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider></ion-item-divider>
</ion-content>